doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/embed.css')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src='/javascripts/embed.js'></script>
    
  body(class='nontouch')
    block content
