extends ./embed_layout.jade

block content

  div
    label Breite:
    input(id="width" type="text", name="width")
    label Höhe:
    input(id="height" type="text", name="height")
    input(id="submit" type="button", value="Generiere Code")
  div(id="embed-code")