extends ./embed_layout.jade

block content

  div
    h2 So bringst du das Webspiel der 54. Stadt auf deine Website!
    p <b>Schritt 1</b> Gib Höhe und Breite in Pixeln für das Spielfenster an und klicke auf "Generiere Code"! Hinweis: Gib 100% als Breite an, wenn sich das Spielfenster an die verfügbare Breite anpassen soll.
    label Breite:
    input(id="width" type="text", name="width")
    label Höhe:
    input(id="height" type="text", name="height")
    input(id="submit" type="button", value="Generiere Code")

  p(id="embed-code")
  p <b>Schritt 2</b> Kopiere den grau hinterlegten HTML-Code und füge ihn in den Code deiner Website ein (wie ein YouTube-Video). Unten siehst du, wie das Spiel aussehen wird.
