extends ./embed_layout.jade

block content

  div
    input(type="text", name="width")
    input(type="text", name="height")
    input(type="button", value="test")
    p(id="embed-code")

  //iframe(width='120', height='120', src='http://city54.herokuapp.com/')