html, body {
	height:100%;
	font-family:G, sans-serif;
}

#top {
	height:0%;
	display:none;
}

#chat {
	overflow-y: scroll;
	overflow-wrap: break-word;
	height:70%;
	background:#eee;
	color:black;
	line-height:1.3em;
}

ul#chat {
	list-style-type:none;
	margin:0;
	padding:1em;
}


ul#chat li {
	padding-bottom:0.7em;
	line-height:1.4em;
}

ul#chat li[data-sender=player]+li[data-sender=player],
ul#chat li.error+li.error {
	margin-top:-0.7em;
}

ul#chat li:last-child {
	padding-bottom:0.5em;
}

ul#chat li.chapter {
	font-weight: 700;
	text-transform: capitalize;
}

ul#chat li.error:first-letter {
	text-transform: capitalize;
}

ul#chat li.error {
	text-decoration: line-through;
}

b[data-command] {
	/*font-weight:normal;*/
}

/*
ul#chat li:last-child b[data-command] {
	font-weight: 700;
}

ul#chat li:last-child b[data-command]:after {
	content: "" attr(data-command) "";
	color: rgba(255,255,255,1);
	vertical-align:middle;
	font-size:0.7em; 
	line-height:100%;
	text-transform:uppercase;
	letter-spacing:0.1em;
	background: rgba(0,0,0,0.8);
	border-radius:3px;	
	padding:0.2em 0.5em;
	margin:0 0.5em;
	position:relative;
	bottom:0.2em;
}
*/

ul#chat li:last-child b[data-command] {
	font-weight: 700;
	border-radius:3px;
	border: solid 1px rgba(0,0,0,0.6);
	padding: 0 0 0 0.5ex;
	font-size:0.95em;
}

ul#chat li:last-child b[data-command]:after {
	content: "" attr(data-command) "";
	background-color:rgba(0,0,0,0.6);
	color:rgba(255,255,255,0.8);
	vertical-align:middle;
	font-size:0.7em; 
	line-height:100%;
	font-weight:normal;
	letter-spacing:0.1em;
	border-radius:3px;
	padding: 0.1em 0.5em;
	margin:0 0.1em 0 0.5em;
	position:relative;
	bottom:0.1em;
}

b[data-command]:hover, b[data-command]:after:hover {
	cursor:pointer;
}

#input-command {
	width:96%;
	padding:0.4em;
	font-size:110%;
}

#bottom {
	height:20%;
}

@media print {

	b[data-command] {
		font-weight: normal;
	}

	b[data-command]:after {
		display:none;
	}

	#chat {
		overflow-y: visible;
	}

	#input-command {
		display: none;
	}
}
