html, body {
	height:100%;
	font-family:Roboto, sans-serif;
}

#top {
	height:0%;
	display:none;
}

#chat {
	overflow-y: scroll;
	overflow-wrap: break-word;
	height:70%;
	background:#eee;
	color:black;
	line-height:1.3em;
}

ul#chat {
	list-style-type:none;
	margin:0;
	padding:1em;
}


ul#chat li {
	padding-bottom:1em;
}

ul#chat li[data-sender=player]+li[data-sender=player],
ul#chat li.error+li.error {
	margin-top:-1em;
}

ul#chat li:last-child {
	padding-bottom:0.5em;
}

ul#chat li.chapter {
	font-weight: 700;
	text-transform: capitalize;
}

ul#chat li.error:first-letter {
	text-transform: capitalize;
}

ul#chat li.error {
	text-decoration: line-through;
}

b[data-command] {
	font-weight: 500;
}

b[data-command]:after {
	content: " (\"" attr(data-command) "\")";
	font-weight:normal;
	color: rgba(0,0,0,0.5);
}

b[data-command]:hover, b[data-command]:after:hover {
	cursor:pointer;
}

#input-command {
	width:96%;
	padding:0.4em;
	font-size:110%;
}

#bottom {
	height:20%;
}

@media print {

	b[data-command] {
		font-weight: normal;
	}

	b[data-command]:after {
		display:none;
	}
}
