extends ../layouts/default

block content  

  h1#top multi-user chat with bot
  ul#chat
  div#bottom
    input(type='text', id='input-command')
    p add "
      b(data-command='bot Hi!') bot 
      | " before speaking to talk to bot
    p enter "
      b(data-command='gehe oberhausen') gehe oberhausen
      | " to enter oberhausen
