extends ./default_layout.jade

block content  

  div#top
    h1 54. Stadt
  div#chat
    p(id='input')
      span(id='input-fake')
        i(id='cursor')
      input(type='text', id='input-command')
  div#bottom
    b(data-command='spielanleitung') Spielanleitung
    b(data-command='credits') Credits
    b(data-command='datenschutz') Datenschutz


