extends ./default_layout.jade

block content  

  header#top
    h1    
      span.sr-only 54. Stadt
    h2 ♡♡♡ Einsame Immobilien ♡♡♡
    nav(role='navigation')
      button(type='button', data-menu='hilfe', class='help-btn')
        span.sr-only Hilfe zum Spiel
      button(type='button', class='fullscreen-toggle')
        span.sr-only Toggle fullscreen
      button(type='button', class='navbar-toggle')
        span.sr-only Toggle navigation
      ul
        li
          b(data-menu='hilfe') Hilfe
        li
          b(data-menu='spielstand') Spielstand
        li
          b(data-menu='bedingungen') Nutzung
        li
          b(data-menu='credits') Credits
        li
          b(data-menu='theatertour') Die Theatertour 54. Stadt
        li
          b(id='einbetten') Spiel Einbetten

  div#chat
    p(id='input')
      span(id='input-fake')
        i(id='cursor')
      input(type='text', id='input-command', autocomplete='off')
