extends ../layouts/default

block content  

  div#top
    b(data-command='hilfe') Hilfe
    b(data-command='info') Info
    b(data-command='wo bin ich') Wo bin ich?
    b(data-command='gehe http://city54.herokuapp.com/test') Wo bin ich?
  div#chat
    p(id='input')
      span(id='input-fake')
        i(id='cursor')
      input(type='text', id='input-command')

