extends ./default_layout.jade

block content  

  div#top
    h1 54. Stadt ~ Einsame Immobilien
  div#chat
    p(id='input')
      span(id='input-fake')
        i(id='cursor')
      input(type='text', id='input-command')
  div#bottom
    b(data-menu='hilfe') Hilfe
    b(data-menu='spielstand') Spielstand
    b(data-menu='credits') Credits
    b(data-menu='datenschutz') Datenschutz


