extends ../layouts/default

block content  

  div#top
    b(data-command='hilfe') Hilfe
    b(data-command='info') Info
    b(data-command='wo bin ich') Wo bin ich?
  div#chat
    input(type='text', id='input-command')
    p(id='input')

