doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <script src="/socket.io/socket.io.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src='/javascripts/jquery.cookie.js'></script>
    <script src='/javascripts/uuid.js'></script>
    <script src='/javascripts/main.js'></script>